STREAM_API_KEY=your_api_key
STREAM_API_SECRET=your_api_secret

ANTHROPIC_API_KEY=your_api_key
OPENAI_API_KEY=your_api_key
OPENWEATHER_API_KEY=your_api_key

PMG_EMAIL=your_email
PMG_PASSWORD=your_password
PMG_SERVER_URL=https://your-server.com

LMS_PROXY_API_TOKEN=""